.body {
  margin: 0;
}

.info {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Raleway", sans-serif;
  background-color: #F5F8F9;
  color: rgb(11, 22, 63);
  padding: 1%;
}

.navbar-header {
  font-family: "Raleway", sans-serif;
  color: color: rgb(11, 22, 63);
  font-size: 20px; 
}

p {
  color: #005FC9;
  font-family: "Raleway", sans-serif;
}
